<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container text-center">
          <p>HOME!!!</p>
    </div>
</main>

<%- include ('../partials/footer') %>