<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1><centre>Logged out Successfully!</centre></h1>
  </div>
</main>

<%- include ('../partials/footer') %>