<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container text-center">
        <centre>
            <div class="col" style="padding-top: 20px">
            <% 
                console.log("locals.results: ", locals.results);
                if(locals.results && results != []){ 
                    results.forEach(function(res){ %>
                        <h1>results: <%= res.matched_username %></h1>
                    %>
                    
                <% }) } 
               else { %>
                <h1>results: [] </h1>
               <% }
               %>
            </centre>
    </div>
</main>

<%- include ('../partials/footer') %>