<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="col text-center"><%- include ('../partials/message') %></div>

<main>

  <style>
    body{
        background-image:url(
        "https://cdn.wallpapersafari.com/96/30/Phf8w1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }
</style>

  <div class="container h-100 d-grid align-item-center justify-content-center text-center pt-5">
    <span class="border border-light rounded bg-light">
      <div class="container p-5">
        <h2 class="align-item-center">Register</h2>
          <form class="p-3"action="/register" method="POST" autocomplete="off">
<!--username register bar  -->
            <label class="form-group row"for="name"></label>
                <div class="input-group">
                  <input class="form-control input-lg border-end-0" type="text" id="username" name="username" placeholder="Register Username"/>
                  <span class="input-group-text bg-transparent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                      <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </span>
                </div>
<!-- password register bar -->
            <label class="form-group row p-3" for="password"></label>
              <div class="input-group">
                <input class="form-control input-lg border-end-0" type="password" id="password" name="password" placeholder="Register password"/>
                <span class="input-group-text bg-transparent">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lock" viewBox="0 0 16 16">
                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 5.996V14H3s-1 0-1-1 1-4 6-4c.564 0 1.077.038 1.544.107a4.524 4.524 0 0 0-.803.918A10.46 10.46 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h5ZM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z"/>
                  </svg>
                </span>
              </div>
<!-- register button -->
              <div class="form-group row pt-4">
                  <button  class="btn btn-sm btn-primary text-center" type="submit" > Register</button>
              </div>
      </form>
      <div class = "mb-3 form-check">
        <label class = "form-check-label" for="exampleCheck1">Already have an account?</label>
        <a href="/login">Login</a>
      </div>
    </span>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>