<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <form action="/weatherAPI" method="GET" autocomplete="off">
        <button type="submit" > Weather</button>
      </form>
</main>

<%- include ('../partials/footer') %>