<!-- <header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a id= "Explore" class= "nav-link" href = "/explore">Explore</a>
            </li>
            <li class="nav-item">
                <a id= "Profile" class= "nav-link" href = "/profile">Profile</a>
            </li>
            <!-- <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <!-- <a id= "Weather" class= "nav-link" href = "/weather">Weather</a>
            </li> --> 
          <!-- </ul>
          <div class="nav-item me-1">
                <a id= "Logout" class= "nav-link" href = "/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>
   </header> --> 